[submodule "libultraship"]
	path = libultraship
	url = https://github.com/MagikBased/libultraship.git
	branch = mod/code-mod-binary-loading
[submodule "torch"]
	path = torch
	url = https://github.com/HarbourMasters/Torch.git
	branch = main
[submodule "jp-assist"]
	path = jp-assist
	url = https://github.com/MagikBased/JP-Assist.git
	branch = main
